/* Убираем отступы для тегов h1, h2, h3 */
h1,
h2,
h3,
p {
  margin: 0;
  /* Устанавливаем отступы по вертикали и горизонтали в ноль */
}
.list-reset {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}