* {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  /* grid-template-areas: "content"; */
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 60vh;
}

.content {
  /* grid-area: content; */
}