@import url(./global.css);
@import url(./normalize.css);

/* .header {} */
:root {
  --text-color-green: #163A24;
  --text-color-white: #FBFAF7;
  --bg-color-light: #F2EFE6;
  --bg-color-green: #163A24;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

.parag {
  color: inherit;
  font-family: 'NotoSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 150% */
  margin-top: 27px;
}

.header-nav {
  padding-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
}

.header-logo {
  margin-right: auto;
}

.header-wrapper {
  background-color: #163A24;
  color: #FBFAF7;
}

/* .header-logo_link {}

.header-logo_img {}

.header-list {}

.list-reset {} */

.header-list-item {
  color: inherit;
  text-align: right;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 24px;
}

/* .header-list-item:last-child {
  margin-right: 0px;
} */

/* .header-list_link {} */

.header-btn {
  border-radius: 160px;
  background: #198C36;
  color: inherit;
  text-align: right;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-content {
  height: 544px;
  background-image: url(../img/header_img.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  color: #FBFAF7;
}

.header-content-left {
  width: 400px;
  position: relative;
  top: 25%;
  color: inherit;
}

/* .header-title {} */

.first-title {
  color: inherit;
  font-family: 'Recoleta';
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 65.25px;
  /* 135.938% */
}

/* .header-parag {} */
/* .main {} */

.section-human {
  color: #163A24
}

.section-reset {
  margin-top: 130px;
  /* padding: 0 100px; */
}

.human-content-top {
  position: relative;
  height: 510px;
  background-image: url(../img/img_1.png);
  background-repeat: no-repeat;
  /* background-position: 100%; */
}

.human-top-wrapper {
  position: relative;
  left: 55%;
  top: 30%;
}

.wrapper {
  width: 350px;
}

.human-content {
  padding-left: 130px;
}
.second-titles {
  color: inherit;
  font-family: Recoleta;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  /* 112.5% */
}

/* .human-parag {} */

.human-content-middle {
  height: 423px;
  background-image: url(../img/img_2.png);
  background-repeat: no-repeat;
  background-position: 85%;
}

.human-middle-wrapper {
  width: 400px;
  position: relative;
  top: 30%;
}

.human-content-bottom {
  text-align: center;
  margin-top: 110px;
}

.human-bottom_img {
  margin-top: 66px;
}
.section-product {
  color: #FBFAF7
}

.product-content {
  background-color: #163A24;
  text-align: center;
}

.product-title {
  padding-top: 66px;
}

.product-list {
  justify-content: space-between;
  padding: 65px 100px;
  /* margin: 67px auto; */
}

/* .product-list-item {}

.product-list-preview {}

.product-list_img {}

.product-list-descr {}

*/ .product-list-parag {
  font-family: 'NotoSans';
}

.section-empl {
  text-align: center;
  color: #163A24;
  margin-top: 0;
}

.empl-wrapper {
  background-color: #F2EFE6;
  padding-top: 100px;
}

.empl-content {
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: 675px;
  background-image: url(../img/img_7.png);
  background-repeat: no-repeat;
  background-position: 50% 60%;
}

.empl-title {
  width: 750px;
}

.empl-parag {
  width: 670px;
}

/* .section-scenes {} */

.scenes-content {
  height: 423px;
  background-image: url(../img/img_8.png);
  background-repeat: no-repeat;
  background-position: 90%;
}

.scenes-wrapper {
  position: relative;
  top: 30%;
  left: 10%;
}

/* .scenes-title {}

.scenes-parag {} */

.section-interest {
  color: #163A24;
  text-align: center;
}

/* .interest-content {}

.interest-title {}

*/

.third-titles {
  color: inherit;
  font-family: Recoleta;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.5px;
  /* 112.5% */
}

/* .interest-parag {} */

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.interest-card {
  width: 30%;
  text-align: left;
  border-radius: 15px;
  background: #FBFAF7;
  box-shadow: 5px 5px 20px 0px #E9E4D5;
  padding: 40px;
  flex-grow: 0;
}

/* .card-img {} */

.interest-card-title {
  /* width: 180px; */
  margin-top: 20px;
}

.card-list {
  margin-top: 23px;
}

.card-list-item {
  color: inherit;
  font-family: 'NotoSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
  /* flex-grow: 1; */
}

.card-list-item:first-child {
  margin-top: 0;
}

/* .section-easy {} */

.easy-content {
  color: var(--text-color-green);
  background-color: var(--bg-color-light);
}

.easy-top {
  text-align: center;
}

.easy-title {
  padding-top: 115px;
}

/* .easy-parag {} */

.easy-bottom {
  margin-top: 55px;
  position: relative;
  justify-content: space-around;
  text-align: center;
}

.easy-bottom-descr {
  width: 20%;
}

/* .easy-bottom-parag {} */

.easy-bottom-title {
  margin-top: 15px;
}

.arrow {
  position: relative;
  top: 55px;
}

.easy-bottom-img {
  position: absolute;
  bottom: -30px;
  right: 15px;
}

.easy-btn {
  /* background-color: #198C36; */
  margin: 50px auto;
  position: relative;
  /* top: 50px; */
  left: 42%;
}

.resource-content {
  height: 488px;
  background-image: url(../img/img_13.svg);
  background-repeat: no-repeat;
  background-position: 90%;
}

.resource-wrapper {
  position: relative;
  top: 30%;
  left: 10%;
}

.resource-title {
  width: 400px;
}

.resource-parag {
  font-family: 'NotoSans';
}

.resource-btn {
  margin-top: 20px;
}

.start-content {
  height: 415px;
  background-color: var(--bg-color-green);
  text-align: center;
  padding: 114px;
  color: var(--text-color-white);
}

.start-btn {
  background-color: #FAB5A0;
  color: var(--bg-color-green);
  margin-top: 20px;
}

.section-date {
  margin-top: 0;
}

.date-wrapper {
  background-color: var(--bg-color-light);
  padding: 60px 130px;
}

.date-left_content {
  width: 60%;
  margin-right: auto;
}

.date-right_content {
  width: 45%;
}

.date-right_text {
  border-radius: 255px;
  border: 1px solid #F2EFE6;
  background: #FFF;
  height: 52px;
  width: 80%;
  margin-right: -20px;
}

.date-right-btn {
  width: 111px;
  margin-left: -15px;
}

.date-right-parag {
  color: #163A24;
  font-family: 'NotoSans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
}

.footer-top {
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.footer-title {
  color: #163A24;
  text-align: center;
  font-family: Recoleta;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 150% */
}


/* .footer-top-list {
  justify-content: space-between;
} */

.footer-top-list-item {
  margin-right: 14px;
}

.footer-top-list-item:last-child {
  margin-right: 0;
}


.divide-line {
  width: 99%;
  height: 2px;
  background-color: var(--bg-color-light);
}

.footer-bottom {
  padding: 30px;
  /* padding-bottom: 20px; */
}

.footer-copyright {
  margin-right: auto;
  color: #163A24;
  font-family: 'NotoSans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
}

/* .footer-bottom-list {} */

.footer-bottom-item {
  margin-right: 15px;
  color: #198C36;
  text-align: right;
  font-family: 'NotoSans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-bottom-item:last-child {
  margin-right: 0;
}
