@font-face {
  font-family: 'Nunito';
  src: local("NunitoRegular"),
    url('../fonts/Nunito-Regular.woff2') format('woff2'),
    url('../fonts/Nunito-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  box-sizing: border-box;
}

.list-reset {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  /* Устанавливаем отступы по вертикали и горизонтали в ноль */
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.flex {
  display: flex;
  /* flex-wrap: wrap; */
}

.grid {
  display: grid;
}

.justify-conten-center {
  justify-content: center;
}

.aling-items-center {
  align-items: center;
}

.btn {
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #8643DC;
  color: #FFF;
  text-align: center;
  font-family: "Red Hat Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}